:root{
    --primary:#fc6c04;
  }
  *{
    margin: 0px;
    font-family: poppins;
    transition: all .5s ease-in-out;
  }
  body{
  margin:0 100 0 100;
    background-color: white;
  
  }
  .header{
    height: auto;
    display: flex; 
  }
  .header img{
    padding: 4px;
    
  }
  .header h2{
    min-width: 150px;
  padding-top: 14px;
    font-size: 20px;
  }
  .header h2 span{
    color: var(--primary);
    font-size: 25px;
  }
  .menu-container{
    width: 100%;
  }
  .header h3{
  padding-top: 14px;
    font-size: 15px;
  }
  .header ul{
    display: flex;
    justify-content: flex-end;
  }
  .header ul li{
    background-color: white;
  }
  .header ul li:hover{
    margin: 16 10 20 10;
    padding:6px;
    background-color: var(--primary);
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    transition-duration: .2s;
  }
  .header button{
  height: 38px;
    min-width: 120px;
    padding: 4px;
    margin-top: 15px;
    margin-left: 8px;
    background-color: var(--primary);
    border-radius: 4px;
    border: none;
    color: white;
  }
  .header button:hover{
    background-color: white;
  color: var(--primary);
    box-shadow: 0px 0px 8px 4px var(--primary);
  }
  .content-body{
    display: flex;
    
  }
  .div-name{
  margin-top: 100px; 
    width: 60%;
  }
  .div-name h2{
    font-size: 30px;
    color: var(--primary);
  }
  .div-name h1{
    margin-top: -10px;
   font-size: 70px;
    font-weight: 900;
  }
  .div-name h1 p{
   margin-top: -25px;
    margin-left: 150px;
    font-size: 70px;
  }
  .div-img{
    text-align: center;
    }
  .div-img:hover{
    transform: scale(0.9);
    transition-duration: 0.2s;
  }
  .div-name p{
    word-spacing: 4;
  }
  .hire-btn{
    height: 38px;
    width: 150px;
    padding: 4px;
    margin-top: 15px;
    margin-left: 8px;
    background-color:var(--primary);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
  }
  .hire-btn:hover{
     background-color: white;
  color: var(--primary);
    box-shadow: 0px 0px 8px 4px var(--primary);
  }
  .div-name2{
    margin-top: 50px;
  }
  .experience-meter{
    font-size: 20px;
    font-weight: bold;
  }
  .prog-parent{
    background-color: #eeeeee;
    height: 10px;
  border-radius: 50px;
    margin: 16 0 16 0;
    display: flex;
  }
  .ux-div{
    width: 92%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--primary);
  }
  .web-div{
    width: 88%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--primary);
  }
  .app-div{
    width: 95%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--primary);
  }
  .graphic-div{
    width: 92%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--primary);
  }
  .prog-dot{
    height: 16px;
    width: 16px;
    background-color:white;
    border-radius: 50%;
    border: solid 2px var(--primary);
    transform: translateY(-5px) translateX(-4px);
  }
  .prog-back{
    height: 20px;
  }
  .services-div{
    align-items: center;
    padding: 8 0 8 0;
    width: 100%;
   text-align: center;
  }
  .services-div ul{
    margin: 0px;  
    padding: 32 0 32 30;
    display: flex;
    justify-content: space-evenly;
  }
  .round-box{
    width: 80%;
    height: auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    text-align: start;
    padding: 35 16 20 16;
  }
  .round-box:hover{
    background-color: silver;
    color: white;
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .round-box h2{
   margin-top: 8px; 
  }
  .my-projects{
    padding-top: 10px;
    text-align: center;
  }
  .work{
    display: flex;
    text-align: center;
    padding: 0 0 32 0;
  }
  .pro-type ul{
    padding: 32px;
    display: flex;
    justify-content:  center;
  }
  .pro-type ul li{
    margin: 0 4px 0 4px;
    padding: 4 8 4 8;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid silver;
  }
  .pro-type ul li:hover{
    background-color: var(--primary);
    color: white;
    cursor: pointer;
  transition-duration: .3s;
  }
  i{
    font-size: 25px;
  }
  i:hover{
    color: var(--primary);
    transition-duration: 0.2s;
  }
  .pro-type ul li:nth-child(3){
    background-color: var(--primary);
    color: white;
  }
  .box-div{
    text-align: start;
    
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: 8 16 8 16;
   
  }
  .image-cls{
   margin-bottom: 4px;
    height: 400px;
    width: auto;
    background-image: url(image/web-page1.png);
    background-size: cover;
    border-radius: 10px;
  }
  .image-cls:hover{
    box-shadow: 0 0 16px 8px var(--primary);
    transform: scale(0.9);
  }
  .box-div p{
    color: var(--primary);
  }
  .test{
    text-align: center;
    width: 100%;
    padding: 0 0 32 0;
    }
  .test-divs{
    width: 150px;
    display: flex;
  }
  .together{
    padding: 32 0;
    text-align: center;
  }
  .together div{
    padding: 16px;
  }
  input[type="text"]{
    width: 400px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: #f5f5f5;
    margin-right: 8px;
  }
  input:focus{
    border: 1px solid var(--primary);
  }
  .together button{
       height: 38px;
    width: 150px;
    padding: 4px;
    margin-top: 15px;
    margin-left: 8px;
    background-color:var(--primary);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
  }
  .together button:hover{
    background-color: white;
  color: var(--primary);
    box-shadow: 0px 0px 8px 4px var(--primary);
  }
  .bottom-nav{
    background-color: #f5f5f5;
    height: 40%;
    width: 117.2%;
    transform: translateX(-98px);
    text-align: center;
  }
  .nav{
     display: flex;
  justify-content: center;
    vertical-align: middle;
    
  }
  .nav h2{
    padding-top: 10px;
  }
  .navigator{
    padding-left: 310px;
  }
  .navigator ul{
    width: 60%;
    display: flex;
   justify-content: space-evenly;
  }
  .navigator ul li{
    margin: 16 10 20 10;
    padding:6px;
  }
  .navigator ul li:hover{
    margin: 16 10 20 10;
    padding:6px;
    background-color: var(--primary);
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .copyright{
    width: 100.2%;
    transform: translateX(-2px);
    background-color: #4e4e4e;
    height: 45px;
    padding-top: 15px;
    color: white;
  }
  .copyright span{
    color: var(--primary);
    font-weight: bold;
  }